<?xml version='1.0' encoding='UTF-8' ?>
<?charles serialisation-version='2.0' ?>
<configuration>
  <proxyConfiguration>
    <enableSOCKSProxy>false</enableSOCKSProxy>
    <dynamicHTTPPort>false</dynamicHTTPPort>
    <dynamicSOCKSPort>false</dynamicSOCKSPort>
    <enableSOCKSTransparentHTTPProxying>true</enableSOCKSTransparentHTTPProxying>
    <port>8888</port>
    <SOCKSPort>8889</SOCKSPort>
    <decryptSSL>true</decryptSSL>
    <transparentProxy>true</transparentProxy>
    <supportsH2>true</supportsH2>
    <preferIPv6addresses>false</preferIPv6addresses>
    <sslLocations>
      <locationPatterns>
        <locationMatch>
          <location>
            <host>*</host>
            <port>*</port>
          </location>
          <enabled>true</enabled>
        </locationMatch>
      </locationPatterns>
    </sslLocations>
    <sslExcludeLocations>
      <locationPatterns/>
    </sslExcludeLocations>
    <defaultSOCKSTransparentHTTPProxyPorts>true</defaultSOCKSTransparentHTTPProxyPorts>
    <socksTransparentHTTPProxyPorts/>
    <socksTransparentHTTPProxyPortRanges/>
    <windowsConfiguration>
      <useHTTP>true</useHTTP>
      <useSOCKS>false</useSOCKS>
      <enableAtStartup>true</enableAtStartup>
    </windowsConfiguration>
    <macOSXConfiguration>
      <useHTTP>true</useHTTP>
      <useSOCKS>false</useSOCKS>
      <enableAtStartup>true</enableAtStartup>
    </macOSXConfiguration>
    <mozillaFirefoxConfiguration>
      <useHTTP>true</useHTTP>
      <useSOCKS>false</useSOCKS>
      <enableAtStartup>true</enableAtStartup>
    </mozillaFirefoxConfiguration>
  </proxyConfiguration>
  <dnsConfiguration>
    <preferIPv6addresses>false</preferIPv6addresses>
  </dnsConfiguration>
  <recordingConfiguration>
    <limit>100</limit>
    <maxTransactions>0</maxTransactions>
    <maxWebSocketMessages>-1</maxWebSocketMessages>
    <ignoreHosts>
      <locationPatterns/>
    </ignoreHosts>
    <recordHosts>
      <locationPatterns/>
    </recordHosts>
  </recordingConfiguration>
  <accessControlConfiguration>
    <warn>true</warn>
    <ipRanges>
      <ipRange>
        <ip>
          <int>192</int>
          <int>168</int>
          <int>1</int>
          <int>219</int>
        </ip>
        <mask>
          <int>255</int>
          <int>255</int>
          <int>255</int>
          <int>255</int>
        </mask>
      </ipRange>
      <ipRange>
        <ip>
          <int>192</int>
          <int>168</int>
          <int>1</int>
          <int>18</int>
        </ip>
        <mask>
          <int>255</int>
          <int>255</int>
          <int>255</int>
          <int>255</int>
        </mask>
      </ipRange>
      <ipRange>
        <ip>
          <int>192</int>
          <int>168</int>
          <int>1</int>
          <int>181</int>
        </ip>
        <mask>
          <int>255</int>
          <int>255</int>
          <int>255</int>
          <int>255</int>
        </mask>
      </ipRange>
    </ipRanges>
  </accessControlConfiguration>
  <externalProxyConfiguration>
    <configurations>
      <entry>
        <string>socks</string>
        <mutableExternalProxyConfiguration>
          <active>false</active>
          <requiresAuthentication>false</requiresAuthentication>
          <port>0</port>
        </mutableExternalProxyConfiguration>
      </entry>
      <entry>
        <string>http</string>
        <mutableExternalProxyConfiguration>
          <active>false</active>
          <requiresAuthentication>false</requiresAuthentication>
          <port>0</port>
        </mutableExternalProxyConfiguration>
      </entry>
      <entry>
        <string>https</string>
        <mutableExternalProxyConfiguration>
          <active>false</active>
          <requiresAuthentication>false</requiresAuthentication>
          <port>0</port>
        </mutableExternalProxyConfiguration>
      </entry>
    </configurations>
    <enabled>false</enabled>
    <alwaysBypassLocalhost>true</alwaysBypassLocalhost>
  </externalProxyConfiguration>
  <externalDNSResolverConfiguration>
    <enabled>false</enabled>
    <selectedLocations>false</selectedLocations>
    <locations>
      <locationPatterns/>
    </locations>
  </externalDNSResolverConfiguration>
  <throttlingConfiguration>
    <bandwidthDown>57.6</bandwidthDown>
    <bandwidthUp>33.6</bandwidthUp>
    <utilisationDown>70</utilisationDown>
    <utilisationUp>70</utilisationUp>
    <latency>250</latency>
    <reliability>100</reliability>
    <mtu>576</mtu>
    <lowQuality>100</lowQuality>
    <highQuality>100</highQuality>
    <stability>100</stability>
    <customPresets/>
    <hosts class="listAdapter">
      <list/>
    </hosts>
    <selectedHosts>false</selectedHosts>
  </throttlingConfiguration>
  <startupConfiguration>
    <newSession>true</newSession>
    <throttling>false</throttling>
    <checkUpdates>true</checkUpdates>
    <maximised>false</maximised>
    <fullscreen>false</fullscreen>
    <mainWindow>
      <x>-3</x>
      <y>1</y>
      <width>3846</width>
      <height>2162</height>
    </mainWindow>
    <currentDirectory>/home/madhur</currentDirectory>
    <lastCheckUpdates>2022-05-30 16:16:56.716 UTC</lastCheckUpdates>
  </startupConfiguration>
  <userInterfaceConfiguration>
    <displayFont>Default</displayFont>
    <displayFontSize>14</displayFontSize>
    <promptToSaveSessions>false</promptToSaveSessions>
    <promptToClearSession>false</promptToClearSession>
    <showLineNumbers>true</showLineNumbers>
    <lineWrap>true</lineWrap>
    <autoScroll>true</autoScroll>
    <combineHeadersAndBody>true</combineHeadersAndBody>
    <combineRequestAndResponse>true</combineRequestAndResponse>
    <minimiseToTray>false</minimiseToTray>
    <showMemoryUsage>true</showMemoryUsage>
    <enableHotkeys>true</enableHotkeys>
    <alwaysOnTop>false</alwaysOnTop>
    <showTrayIcon>true</showTrayIcon>
    <highlightTreeChanges>true</highlightTreeChanges>
    <sequenceFocused>false</sequenceFocused>
    <sessionNavStructureLayout>0</sessionNavStructureLayout>
    <sessionNavSequenceLayout>1</sessionNavSequenceLayout>
    <unitsSpeed>0</unitsSpeed>
    <unitsTime>0</unitsTime>
    <warningsSeen/>
    <properties>
      <entry>
        <string>URLEncodedBodyViewer.TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>URLEncodedQueryViewer.TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>NavigatorJTable.TABLE_COLUMN_STATES</string>
        <columnStates>
          <sizes>
            <double>18.0</double>
            <double>195.0</double>
            <double>176.0</double>
            <double>335.0</double>
            <double>649.0</double>
            <double>85.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>132.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>170.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>169.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>0.0</double>
            <double>15.0</double>
            <double>843.0</double>
            <double>0.0</double>
            <double>0.0</double>
          </sizes>
          <positions>
            <int>0</int>
            <int>1</int>
            <int>2</int>
            <int>3</int>
            <int>4</int>
            <int>5</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>6</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>7</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>8</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
            <int>9</int>
            <int>-1</int>
            <int>-1</int>
            <int>-1</int>
          </positions>
        </columnStates>
      </entry>
      <entry>
        <string>ChartPanel.TYPE_TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>SessionFrame.splitPlane.dividerLocation.horizontal</string>
        <int>456</int>
      </entry>
      <entry>
        <string>RequestResponsePanel.DIVIDER_LOCATON</string>
        <int>327</int>
      </entry>
      <entry>
        <string>SummaryPanel.TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>ChartPanel.SIZE_TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>WebSocketBodyViewer.TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>ActiveConnectionsFrame.TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>ExtensibleSessionSequenceTableModel.CUSTOM_COLUMNS</string>
        <customColumns>
          <columns/>
        </customColumns>
      </entry>
      <entry>
        <string>ChartPanel.TIMELINE_TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>ChartPanel.DURATION_TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
      <entry>
        <string>SessionFrame.splitPlane.dividerLocation.vertical</string>
        <int>668</int>
      </entry>
      <entry>
        <string>SessionFrame.navTabs.mode</string>
        <string>Sequence</string>
      </entry>
      <entry>
        <string>CookieViewer.TABLE_COLUMN_STATES</string>
        <columnStates/>
      </entry>
    </properties>
  </userInterfaceConfiguration>
  <registrationConfiguration>
    <name>Madhur Ahuja</name>
    <key>3cb187b7a89525aad3</key>
  </registrationConfiguration>
  <toolConfiguration>
    <configs>
      <entry>
        <string>Breakpoints</string>
        <breakpoints>
          <toolEnabled>false</toolEnabled>
          <breakpoints/>
        </breakpoints>
      </entry>
      <entry>
        <string>Reverse Proxies</string>
        <reverseProxies>
          <active>false</active>
          <reverseProxies/>
        </reverseProxies>
      </entry>
      <entry>
        <string>Block List</string>
        <blacklist>
          <locations>
            <locationPatterns/>
          </locations>
          <toolEnabled>false</toolEnabled>
          <useSelectedLocations>false</useSelectedLocations>
          <action>0</action>
        </blacklist>
      </entry>
      <entry>
        <string>Map Remote</string>
        <map>
          <toolEnabled>false</toolEnabled>
          <mappings/>
        </map>
      </entry>
      <entry>
        <string>Port Forwarding</string>
        <portForwarding>
          <active>false</active>
          <portForwardings/>
        </portForwarding>
      </entry>
      <entry>
        <string>Viewer Mappings</string>
        <viewerMappings>
          <toolEnabled>false</toolEnabled>
          <mappings/>
        </viewerMappings>
      </entry>
      <entry>
        <string>Rewrite</string>
        <rewrite>
          <toolEnabled>false</toolEnabled>
          <debugging>false</debugging>
          <sets/>
        </rewrite>
      </entry>
      <entry>
        <string>Map Local</string>
        <mapLocal>
          <toolEnabled>false</toolEnabled>
          <mappings/>
        </mapLocal>
      </entry>
      <entry>
        <string>Allow List</string>
        <whitelist>
          <locations>
            <locationPatterns/>
          </locations>
          <toolEnabled>false</toolEnabled>
          <useSelectedLocations>false</useSelectedLocations>
          <action>0</action>
        </whitelist>
      </entry>
      <entry>
        <string>Client Process</string>
        <selectedHostsTool>
          <locations>
            <locationPatterns/>
          </locations>
          <toolEnabled>false</toolEnabled>
          <useSelectedLocations>false</useSelectedLocations>
        </selectedHostsTool>
      </entry>
      <entry>
        <string>No Caching</string>
        <selectedHostsTool>
          <locations>
            <locationPatterns/>
          </locations>
          <toolEnabled>true</toolEnabled>
          <useSelectedLocations>false</useSelectedLocations>
        </selectedHostsTool>
      </entry>
      <entry>
        <string>DNS Spoofing</string>
        <dnsSpoofing>
          <toolEnabled>false</toolEnabled>
          <spoofs/>
        </dnsSpoofing>
      </entry>
      <entry>
        <string>Mirror</string>
        <mirror>
          <locations>
            <locationPatterns/>
          </locations>
          <toolEnabled>false</toolEnabled>
          <useSelectedLocations>false</useSelectedLocations>
        </mirror>
      </entry>
      <entry>
        <string>Auto Save</string>
        <autoSave>
          <toolEnabled>false</toolEnabled>
          <enableOnStartup>false</enableOnStartup>
          <saveLowMem>false</saveLowMem>
          <startOnMultiple>false</startOnMultiple>
          <savePeriod>0</savePeriod>
        </autoSave>
      </entry>
      <entry>
        <string>Block Cookies</string>
        <selectedHostsTool>
          <locations>
            <locationPatterns/>
          </locations>
          <toolEnabled>false</toolEnabled>
          <useSelectedLocations>false</useSelectedLocations>
        </selectedHostsTool>
      </entry>
    </configs>
  </toolConfiguration>
  <remoteControlConfiguration>
    <enabled>true</enabled>
    <allowAnonymous>true</allowAnonymous>
    <users/>
  </remoteControlConfiguration>
  <clientSSLCertificatesConfiguration>
    <certificates/>
  </clientSSLCertificatesConfiguration>
  <protobufConfiguration>
    <hideUnvaluedFields>true</hideUnvaluedFields>
    <cacheDescriptors>true</cacheDescriptors>
    <heuristicTTL>300000</heuristicTTL>
    <descriptors/>
  </protobufConfiguration>
  <gistConfiguration>
    <publishLimit>10</publishLimit>
    <secret>true</secret>
    <openGist>true</openGist>
    <enterpriseGitHub>false</enterpriseGitHub>
  </gistConfiguration>
  <focusConfiguration>
    <hosts>
      <locationPatterns/>
    </hosts>
  </focusConfiguration>
  <categoryConfiguration>
    <categories/>
  </categoryConfiguration>
</configuration>