absl-py==0.13.0
aiohttp==3.7.4.post0
alabaster==0.7.12
antlr4-python3-runtime==4.8
async-timeout==3.0.1
attrs==21.2.0
azure-core==1.26.0
azure-identity==1.11.0
Babel==2.9.1
backcall==0.2.0
cachetools==4.2.2
certifi==2020.4.5.2
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==7.1.2
config==0.5.1
ConfigArgParse==1.2.3
confluent-kafka==1.9.2
cryptography==38.0.1
curlify==2.2.1
decorator==5.0.9
Deprecated==1.2.13
docutils==0.17.1
einops==0.3.0
et-xmlfile==1.1.0
Flask==1.1.4
Flask-BasicAuth==0.2.0
fontawesome==5.10.1.post1
fsspec==2021.6.1
ftfy==6.0.3
future==0.18.2
#gevent==20.9.0
geventhttpclient==1.4.4
google-api-core==2.8.2
google-api-python-client==2.53.0
google-auth==1.32.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
grpcio==1.38.1
httplib2==0.20.4
i3ipc==2.2.1
icdiff==2.0.5
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
imagesize==1.3.0
importlib-metadata==4.11.1
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
kafka-python==2.0.2
kazoo==2.7.0
kornia==0.5.4
locust==1.4.4
locust-plugins==1.0.25
lxml==4.9.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib-inline==0.1.2
more-itertools==9.0.0
msal==1.20.0
msal-extensions==1.0.0
msgpack==1.0.4
multidict==5.1.0
mysql-connector==2.2.9
numpy==1.21.0
oauthlib==3.1.1
omegaconf==2.1.0
opencensus==0.11.0
opencensus-context==0.1.3
opencensus-ext-azure==1.1.7
openpyxl==3.0.10
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pika==1.1.0
Pillow==8.2.0
pluggy==0.13.1
portalocker==2.6.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psutil==5.7.3
psycogreen==1.0.2
psycopg2-binary==2.9.5
ptyprocess==0.7.0
py==1.8.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyDeprecate==0.3.0
Pygments==2.9.0
PyJWT==2.6.0
pymongo==4.1.1
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.2
python-lzf==0.2.4
python-xlib==0.31
pytorch-lightning==1.3.7.post0
pytorch-ranger==0.1.1
pytz==2021.3
PyYAML==5.4.1
pyzmq==19.0.2
rdbtools==0.1.15
redis==3.5.3
redis-py-cluster==2.1.3
regex==2021.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.7.2
selenium==3.141.0
six==1.14.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinx-copybutton==0.5.0
sphinx-inline-tabs==2022.1.2b11
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxext-opengraph==0.5.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
torch==1.9.0+cu111
torch-optimizer==0.3.0
torchaudio==0.9.0
torchmetrics==0.3.2
torchvision==0.10.0+cu111
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==4.4.0
ujson==3.0.0
uritemplate==4.1.1
urllib3==1.25.11
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.13.3
xlrd==2.0.1
yarl==1.6.3
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.5.0
