#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=X
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=lodlkdfmihgonocnmddehnfgiljnadcf
Icon=brave-lodlkdfmihgonocnmddehnfgiljnadcf-Default
StartupWMClass=crx_lodlkdfmihgonocnmddehnfgiljnadcf
Actions=Direct-Messages;Explore;New-post;Notifications

[Desktop Action Direct-Messages]
Name=Direct Messages
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/messages?utm_source=jumplist&utm_medium=shortcut"

[Desktop Action Explore]
Name=Explore
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/explore?utm_source=jumplist&utm_medium=shortcut"

[Desktop Action New-post]
Name=New post
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/compose/post?utm_source=jumplist&utm_medium=shortcut"

[Desktop Action Notifications]
Name=Notifications
Exec=/opt/brave-bin/brave --profile-directory=Default --app-id=lodlkdfmihgonocnmddehnfgiljnadcf "--app-launch-url-for-shortcuts-menu-item=https://x.com/notifications?utm_source=jumplist&utm_medium=shortcut"
