# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

#datadir=/home/madhur/Downloads/mysql8/data
datadir=/home/madhur/Downloads/mysql57/data

#socket=/home/madhur/Downloads/mysql8/mysql.sock
socket=/home/madhur/Downloads/mysql57/mysql.sock


# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

log-error=/home/madhur/Downloads/mysql57/logs/mysqld.log
pid-file=/home/madhur/Downloads/mysql57/mysqld.pid
port=3306
bind-address = 0.0.0.0
skip_ssl
default_authentication_plugin=mysql_native_password
lc_messages_dir = /home/madhur/Downloads/mysql57/share
lc_messages = en_US
max_allowed_packet=134217728
server-id=1
log_bin = mysql-bin
general_log_file = /var/log/mysql/mysql.log
general_log = 1
