[user]
	email = ahuja.madhur@gmail.com
	name = Madhur
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
