[Unit]
Description=Cassandra
After=network.target

[Service]
PIDFile=/tmp/cassandra.pid
ExecStart=/home/madhur/apache-cassandra-3.11.11/bin/cassandra -p /tmp/cassandra.pid
StandardOutput=append:/tmp/cassandra.log
StandardError=append:/tmp/cassandra-error.log
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
#Restart=always
Environment="JAVA_HOME=/home/madhur/.sdkman/candidates/java/8.0.382-amzn"

[Install]
WantedBy=default.target
