# disk-monitor.timer
[Unit]
Description=Run Disk Usage Monitoring Service daily

[Timer]
OnCalendar=daily
#OnBootSec=5min
Persistent=true
#OnUnitActiveSec=24h
#AccuracySec=1s

[Install]
WantedBy=timers.target
