[Unit]
Description=Run unit every day
#Requires=everyday.service     #Uncommenting this will trigger the service at boot

[Timer]
OnBootSec=15min
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target
