[Unit]
Description=Run unit every week

[Timer]
Persistent=true
#OnCalendar=weekly This runs monday midnight.
OnCalendar=Sat *-*-* 00:00:00
RandomizedDelaySec=300


[Install]
WantedBy=timers.target