[Unit]
Description=Script to do anything every 24 hours

[Service]
Type=oneshot
ExecStart=/home/madhur/scripts/every_24_hours.sh
ExecStartPre=/bin/sleep 120
