[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service

[Service]
Type=simple
#Environment="JAVA_HOME=/usr/lib/jvm/jre-11-openjdk"
ExecStart=/usr/bin/bash /home/madhur/kafka/bin/kafka-server-start.sh /home/madhur/kafka/config/server.properties
ExecStop=/usr/bin/bash /home/madhur/kafka/bin/kafka-server-stop.sh
Slice=-.slice

[Install]
WantedBy=multi-user.target
