[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
#User=prometheus
Restart=on-failure

#Change this line if you download the 
#Prometheus on different path user
ExecStart=/home/madhur/prometheus/prometheus \
  --config.file=/home/madhur/prometheus/prometheus.yml \
  --storage.tsdb.path=/home/madhur/prometheus/data
Slice=-.slice

[Install]
WantedBy=multi-user.target
