[Unit]
Description=Run RedNotebook backup daily
#Requires=rednotebook-backup.service   #Uncommenting this will trigger the service at boot

[Timer]
# Run daily at 2:00 AM
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target