[Unit]
Description=Remote desktop service (VNC)

[Service]
Type=simple
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/x0vncserver -display :0 -rfbauth %h/.vnc/passwd