[Unit]
Description=x11vnc for Xvfb virtual display :98
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until [ -S /tmp/.X11-unix/X98 ]; do sleep 2; done'
ExecStart=/usr/bin/x11vnc -display :98 -nopw -forever -nodpms -rfbport 5901
Restart=on-failure
RestartSec=10
TimeoutStartSec=infinity

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
