[Unit]
Description=x11vnc for Xvfb virtual display :98
After=xvfb.service
Requires=xvfb.service

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -display :98 -nopw -forever -nodpms -rfbport 5902 -rfbportv6 5902
Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
