polkit.addRule(function(action, subject) {
	    if (action.id.match("org.freedesktop.udisks2.") && subject.isInGroup("wheel")) {
		            return polkit.Result.YES;
		        }
});

polkit.addRule(function(action, subject) {
	    if (action.id.match("org.freedesktop.login1.") && subject.isInGroup("wheel")) {
		            return polkit.Result.YES;
		        }
});

polkit.addRule(function(action, subject) {
	    if (action.id.match("org.freedesktop.upower.") && subject.isInGroup("wheel")) {
		            return polkit.Result.YES;
		        }
});

polkit.addRule(function(action, subject) {
	    if (action.id.match("org.freedesktop.NetworkManager.") && subject.isInGroup("wheel")) {
		            return polkit.Result.YES;
		        }
});

/* Allow members of the wheel group to execute any actions
 *  * without password authentication, similar to "sudo NOPASSWD:"
 *   */
polkit.addRule(function(action, subject) {
	    if (subject.isInGroup("wheel")) {
		            return polkit.Result.YES;
		        }
});
